---
import imgKeyboard from '../../assets/images/img_keyboard.png';

const { id, src } = Astro.props;
---

<div class="p-mock">
  <div class="p-mock__pc">
    <div class="p-mock__pcTop">
      <div class="_panel _top"></div>
      <div class="_panel _left"></div>
      <div class="_panel _right"></div>
      <div class="_panel _bottom">
        <div class="_frame" style=`background-image:url(/assets/images/thumb_${id}.png);`>
          <iframe class="_site" src='' data-src={src}></iframe>
        </div>
      </div>
      <div class="_panel _front"></div>
      <div class="_panel _back"></div>
    </div>
    <div class="p-mock__pcBottom">
      <div class="_panel _top"></div>
      <div class="_panel _left"></div>
      <div class="_panel _right"></div>
      <div class="_panel _bottom"></div>
      <div class="_panel _front"></div>
      <div class="_panel _back"></div>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../../assets/styles/media-query.scss' as *;
  .p-mock {
    font-size: 0.625rem;
    perspective: 3000px;
    transform: scaleY(var(--mock-height, 0));
  }
  .p-mock__pc {
    --thickness: .5em;
    position: relative;
    font-size: inherit;
    width: 20.4em;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(var(--horizontal, 272deg)); // 272degで水平　260degでキーボード面見せ
    transform-origin: center bottom;
    @include pc {
      width: 40.4em;
    }

    ._top {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(calc(var(--thickness) * -1));
    }
    ._left {
      top: 0;
      left: 0;
      width: var(--thickness);
      height: 100%;
      transform-origin: left center;
      transform: rotateY(90deg);
    }
    ._right {
      top: 0;
      right: 0;
      width: var(--thickness);
      height: 100%;
      transform-origin: right center;
      transform: rotateY(-90deg);
    }
    ._bottom {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: .1em .2em .8em;

      ._frame {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;

        @include sp {
          &::before {
            position: absolute;
            inset: 0;
            z-index: 2;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
      ._site {
        width: 400%;
        height: 400%;
        border: 0;
        scale: .25;
        transform-origin: left top;
        opacity: 0;
        background-color: #fff;

        &._visible {
          opacity: 1;
        }
      }
    }
    ._front {
      top: 0;
      left: 0;
      width: 100%;
      height: var(--thickness);
      transform-origin: center top;
      transform: rotateX(-90deg);
    }
    ._back {
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--thickness);
      transform-origin: center bottom;
      transform: rotateX(90deg);
    }
  }
  .p-mock__pcTop {
    position: relative;
    width: 100%;
    aspect-ratio: 3404 / 2376;
    transform-style: preserve-3d;
    transform: rotateX(var(--open, 0deg)); // 104degまで
    transform-origin: center bottom;

    ._panel {
      background-color: #292e38;

      &:not(._bottom) {
        position: absolute;
        z-index:1
      }
    }
  }
  .p-mock__pcBottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 3404 / 2376;
    transform-style: preserve-3d;
    transform: translateZ(var(--thickness));
    ._panel {
      background-color: #292e38;

      &:not(._bottom) {
        position: absolute;
        z-index:1
      }
      &._top {
        background-image: url(/assets/images/img_keyboard.png);
        background-size: cover;
        scale: 1 -1;
      }
    }
  }
</style>