---
---

<div class="c-site">
  <p class="c-site__name"></p>
  <dl class="c-site__detail">
    <div class="_group">
      <dt>開発環境</dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt>フレームワーク</dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt>使用ライブラリ</dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt>特徴</dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt></dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt></dt>
      <dd></dd>
    </div>
  </dl>
</div>