---
---

<div class="c-site">
  <dl class="c-site__detail">
    <div class="_group">
      <dt>開発環境</dt>
      <dd>
        静的ページを作成しWPに組み込んでいく形で進めました。<br>
        静的ページでは<br>
        &emsp;タスクランナーにGulp、<br>
        &emsp;CSSにSCSS、<br>
        &emsp;テンプレートエンジンにPug、<br>
        &emsp;バンドルツールにWebpack、<br>
        &emsp;トランスパイラにBabelを採用しています。<br>
        WPを構築するにあたってはDockerを使用し、<br>
        静的ページで作ったコンポーネントをテンプレート化して、読み込ませる形にし、<br>
        Pugを触ることでWPにも変更がかかるようにしました。（ブラウザシンクによるリロードは無し）
      </dd>
    </div>
    <div class="_group">
      <dt>フレームワーク</dt>
      <dd>WP</dd>
    </div>
    <div class="_group">
      <dt>WPプラグイン</dt>
      <dd>ContactForm7, Advanced Custom Field</dd>
    </div>
    <div class="_group">
      <dt>使用ライブラリ</dt>
      <dd>swiper</dd>
    </div>
    <div class="_group">
      <dt>特徴</dt>
      <dd>
        保護者ページにログイン機能をつけ、<br>
        専用のページへのアクセスをIDパスワードを知っている方のみに制限しています。<br>
        セッション保持に関して３月末までで切れるように設定し、<br>
        年度ごとに期限を設定することで園在籍の方のみが見れるようになっています。
      </dd>
    </div>
  </dl>
</div>