---
---

<div class="c-site">
  <dl class="c-site__detail">
    <div class="_group">
      <dt></dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt></dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt></dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt></dt>
      <dd></dd>
    </div>
    <div class="_group">
      <dt></dt>
      <dd></dd>
    </div>
  </dl>
</div>