---
---

<div class="c-site">
  <p class="c-site__name"></p>
  <dl class="c-site__detail">
    <div class="_group">
      <dt>開発環境</dt>
      <dd>タスクランナーはGulp、CSSはSCSSで開発しています。</dd>
    </div>
    <div class="_group">
      <dt>使用ライブラリ</dt>
      <dd>jQuery</dd>
    </div>
    <div class="_group">
      <dt>特徴</dt>
      <dd>
        下層ページのテーマを絞り込むページは絞り込み機能をつけたいとの要望があったのですが、<br>
        サーバー側での動的な処理を入れられないということで、<br>
        Excelファイルを読み込んでJsonファイルに変換するツールを作り、<br>
        Jsonファイルを読み込んでブラウザ側で絞り込み機能を実装しています。<br>
        絞り込み機能はWebWorker側で処理を行い、処理結果を受け取ってリスト表示をおこなっています。
      </dd>
    </div>
  </dl>
</div>