---
---

<div class="c-site">
  <p class="c-site__name"></p>
  <dl class="c-site__detail">
    <div class="_group">
      <dt>開発環境</dt>
      <dd>
        静的なページを構築 → WP組み込みの手順ですすめ、<br>
        静的なページの実装はGulp, SCSSで構築しています。<br>
        WPの組み込みは、MAMPでローカルサーバーを立ち上げての開発でした。
      </dd>
    </div>
    <div class="_group">
      <dt>使用ライブラリ</dt>
      <dd>swiper</dd>
    </div>
    <div class="_group">
      <dt>特徴</dt>
      <dd>
        アクセシビリティ（キーボード操作ができるように）配慮し、<br>
        メガメニュー、メニュー内をタブキーで移動できるようになっています。
      </dd>
    </div>
  </dl>
</div>