---
---

<div class="c-site">
  <p class="c-site__name">Pist6 ポータルサイト</p>
  <dl class="c-site__detail">
    <div class="_group">
      <dt>開発環境</dt>
      <dd>
        若干古めの構成になっていて、<br>
        タスクランナーとしてGulp、バンドルツールにWebpack、コンパイラにBabelを使用。<br>
        テンプレートエンジンはPug、CSSプリプロセッサーにはSCSSを使用しています。
      </dd>
    </div>
    <div class="_group">
      <dt>使用ライブラリ</dt>
      <dd>Swiper, GSAP, Perfect Scrollbar</dd>
    </div>
    <div class="_group">
      <dt>特徴</dt>
      <dd>
        日付、時間によって変わるレースの詳細を<br>
        APIからのデータ取得によってアクセス時における最新情報を表示させる実装になっています。<br>
        WebWorkerという技術を使って、バックグラウンドでデータ取得、表示用HTMLの構築を行い、<br>
        ブラウザレンダリングをブロックしないように非同期で処理を行なっています。<br>
        基本的にはAPIなどの通信系の処理はほぼWebWorkerで処理を行なっています。
      </dd>
    </div>
    <div class="_group">
      <dt>開発期間</dt>
      <dd>9ヶ月程度</dd>
    </div>
  </dl>
  <p class="c-site__name">Pist6 コーポレートサイト</p>
  <dl class="c-site__detail">
    <div class="_group">
      <dt>開発環境</dt>
      <dd>
        ポータルサイトとほぼ同じ構成をとっています。
        Gulp, Webpack, Babel, Pug, SCSS になっています。
      </dd>
    </div>
    <div class="_group">
      <dt>使用ライブラリ</dt>
      <dd>特になし</dd>
    </div>
    <div class="_group">
      <dt>特徴</dt>
      <dd>
        特に凝った実装ではなく、サイトとして情報を見やすくシンプルなサイトになっています。
      </dd>
    </div>
  </dl>
</div>