---
---

<div class="c-site">
  <p class="c-site__name"></p>
  <dl class="c-site__detail">
    <div class="_group">
      <dt>開発環境</dt>
      <dd>Vue CLIを使用して静的ページとして構築しています。</dd>
    </div>
    <div class="_group">
      <dt>使用ライブラリ</dt>
      <dd>Vue.js v2</dd>
    </div>
    <div class="_group">
      <dt>特徴</dt>
      <dd>
        PCは１枚のLPのように表示され、<br>
        SPはアプリのように動作する形で構築されています。<br>
        データはJsonファイルで管理されていて、<br>
        Jsonファイルを修正することでコンテンツの管理を行なっています。<br>
        初期表示の動画が若干重ためのため、表示に時間がかかることがあります。
      </dd>
    </div>
  </dl>
</div>