---
---

<div class="c-bg">
  <canvas id="commonBg" class="c-bg__img"></canvas>
</div>

<style is:global lang="scss">
  @use '../../assets/styles/media-query.scss' as *;
  .c-bg {
    width: 100%;
    height: 100%;
  }
  .c-bg_img {
    width: inherit;
    height: inherit;
  }
</style>