---
---

<footer class="c-footer">
  <div class="c-footer__inner">
    <div class="c-footer_copy">
      <p class="_txt">&copy; Shinya Maeda</p>
    </div>
  </div>
</footer>

<style is:global lang="scss">
  @use '../../assets/styles/media-query.scss' as *;

  .c-footer {
    padding-block: 2.0rem;
  }
  .c-footer__inner {
    display: flex;
    justify-content: center;
    padding-inline: 2.0rem;
  }
</style>